<%- include('partials/header-logged-in') -%>
<div class="container mb-5">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <h1>Account Information</h1>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country"></textarea>
              </div>
              <!-- Make this a dropdown with all countries populated -->
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city">
              </div>
              <div class="mb-3">
                <label for="petFriendly" class="form-label">Pet Friendly?</label>
                <select name="petFriendly" id="petFriendly">
                  <option value="Pet-Friendly">Pet Friendly</option>
                  <option value="Not Pet-Friendly">Not Pet Friendly</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
              </div>
              <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <h1>Your Listings</h1>
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <h2><%= posts[i].title %></h2>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
  </div>
</div>

</script>
<%- include('partials/footer') -%>